{% load custom_tags %}

<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Регистрация на сайте {{site.name}}</title>
</head>
<body>
	<h1>Новый пользователь</h1>

	<p>На сайте {{site.name}} зарегистрировался новый пользователь. Для подтверждения регистрации перейдите на <a href="{{server_site.url}}/admin/forum/visitor/">{{server_site.name}}</a></p>

	<div class="message-field">Номер заявки: <b>{{reg_id}}</b></div>
	<div class="message-field">Имя: <b>{{name}}</b></div>
	<div class="message-field">Телефон: <b>{{phone}}</b></div>
	<div class="message-field">E-mail: <b>{{email}}</b></div>
	<div class="message-field">Род деятельности: <b>{{occupation}}</b></div>
	<div class="message-field">Организация: <b>{{organization}}</b></div>
	<div class="message-field">Анкетные данные:<br/><pre style="background-color: #f6f6f6; padding: 1em;">{{questionnaire|safe}}</pre></div>
</body>
</html>


