{% load custom_tags %}

<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Регистрация на сайте fogapo.ru</title>
</head>
<body>
	<h1>Новый пользователь</h1>

	<p>На сайте fogapo.ru зарегистрировался новый пользователь. Для подтверждения регистрации перейдите на <a href="{{site.url}}/admin/forum/visitor/">сайт</a></p>

	<div class="message-field">ID: <b>{{reg_id}}</b></div>
	<div class="message-field">Имя: <b>{{name}}</b></div>
	<div class="message-field">Телефон: <b>{{phone}}</b></div>
	<div class="message-field">E-mail: <b>{{email}}</b></div>
	<div class="message-field">Организация: <b>{{organization}}</b></div>
	<div class="message-field">Анкетные данные:<br/><pre>{{content|safe}}</pre></div>
</body>
</html>


