@import "../node_modules/bootstrap/scss/functions"
@import "../node_modules/bootstrap/scss/variables"
@import "../node_modules/bootstrap/scss/mixins"

$font-family-sans-serif: "exo2", Tahoma, Arial
$bg-color: lightgrey
$header-title-color: white
$brand-color: rgb(153,138,246)
$link-color: $brand-color
$title-color: #000
$text-color: #333
$button-text-color: #fff
$button-bg-color: $brand-color
$countdown-number-offset: 0.5em
$border-radius: 8px
$icon-size: 1.6em
$border-width: 3px