@import "../node_modules/bootstrap/scss/functions"
@import "../node_modules/bootstrap/scss/variables"
@import "../node_modules/bootstrap/scss/mixins"

$font-family-sans-serif: "exo2", Tahoma, Arial
$brand-color: #8c52ff

$brand-bg-color: #dcd3f680
$primary-bg-color: transparentize(#a09da8, 0.5)
$secondary-bg-color: transparentize(white, 0.3)

$header-title-color: white
$link-color: $brand-color
$title-color: #000
$text-color: #333
$button-text-color: #fff
$button-bg-color: $brand-color

$border-radius: 8px
$icon-size: 1.8rem
$border-width: 3px
$modal-dialog-bg: transparentize($brand-bg-color, 0.05)
$event-avatar-size: 150px
$event-avatar-size-sm: 250px
