@import vars.module
@import utils.module
@import mixins
@import fonts

*
	margin: 0

*:focus
	box-shadow: none !important
	border-color: $brand-color !important

html
	font-size: 14px
	+media-breakpoint-up(md)
		font-size: 16px
	+media-breakpoint-up(lg)
		font-size: 18px
	background-color: $bg-color

\:root
	--bs-font-sans-serif: #{$font-family-sans-serif}
	--bs-body-color: #{$text-color}
	--bs-body-bg: #{$bg-color}

body
	min-height: 100vh

#__next
	display: flex
	flex-direction: column
	min-height: 100vh
	height: 100%

main
	flex: 1

	section
		flex: 100%

img:not([decoding=async])
	background: lightgrey
	background-origin: border-box
	background-size: contain


pre
	white-space: pre-wrap

ul
	margin: 0
	padding: 0
	list-style-type: none

h1
	color: $title-color
	font-size: 2.4em
	letter-spacing: 1px
	line-height: 1
	text-transform: uppercase

h2
	margin-bottom: 1.8rem
	color: $title-color
	font-size: 2em
	font-weight: 500

h3
	margin-bottom: 1.5rem
	color: $title-color
	font-size: 1.8rem
	font-weight: 500
	//letter-spacing: 1px
	text-transform: uppercase

h4
	margin-bottom: 1.2rem
	font-size: 1.2rem
	text-transform: uppercase
	font-weight: 500

article
	margin-bottom: 2rem
	>.title
		margin-bottom: 3.5rem
		text-transform: lowercase


header
	//min-height: 100vh
	.container
		display: flex

	.header-logos
		flex: 1
		justify-content: center
		margin-bottom: 1rem

	.logo-link
		max-width: 4rem
		min-width: 80px
		margin-right: 2vw
		user-select: none

	.header-title
		flex: 0 1 40%
		text-transform: uppercase
		line-height: 1.2

		h1
			word-spacing: 100vw
			color: $header-title-color

		.subtitle
			margin-top: auto
			text-transform: lowercase
			@extend h2

			p
				margin-bottom: 0

		+media-breakpoint-down(md)
			font-size: 0.8em

	.date-forum
		justify-content: space-between
		flex: 1 1 42%

	.date-block
		font-size: 4em
		line-height: 1
		font-weight: bold
		color: #000
		text-align: right

		.at-time
			margin-top: 0.25rem
			margin-bottom: 1rem
			font-size: 0.5em
			font-weight: normal
			text-transform: uppercase

	.countdown-title
		color: white

	.countdown-block
		display: inline-flex
		margin-top: 6rem
		+media-breakpoint-down(md)
			margin-top: 0

		.two-digit
			position: relative
			width: 2.4em
			height: 2.4em
			padding: 0
			font-size: 1.5rem
			font-weight: 500
			color: #fff
			border-radius: 50rem
			border-color: $brand-color
			background: $brand-color
			user-select: none

			&::after
				position: absolute
				content: ":"
				top: 0
				bottom: 0
				left: 100%
				font-size: 1.5em
				line-height: 1.3
				margin-left: .11em

		.countdown-title
			flex: 100%
			font-weight: bold

		.number-wrapper
			margin: 0 $countdown-number-offset * 2 0 0

			&:last-child
				margin-right: 0

				.two-digit::after
					content: none

			span
				margin-top: 0.2em
				font-size: 0.6rem
				text-transform: uppercase
				color: $brand-color
				font-weight: bold

	+media-breakpoint-down(xl)
		.date-forum
			.date-block
				margin-top: -0.5rem
				font-size: 2.8em

	+media-breakpoint-down(lg)
		.container
			flex-wrap: wrap
			justify-content: center
			min-height: 100%
			align-items: flex-start

		.header-title
			flex: 1 1 75%

		.date-forum
			flex: 100%
			flex-direction: row
			margin-top: 1rem

			.date-block
				margin-bottom: 1em

	+media-breakpoint-down(md)
		.date-forum
			flex-direction: column
			align-items: center !important
			height: min-content
			//margin-top: auto
			.date-block
				margin-bottom: 4vh

			.countdown-block
				justify-content: center
				text-align: center

	+media-breakpoint-down(sm)
		.container
			flex-direction: column
		.header-logos
			flex: initial
		.header-title
			margin-left: 0
			font-size: 0.8em

		.date-forum
			.date-block
				font-size: 2.8em

	@media (max-width: 767.98px) and (orientation: portrait)
		.container
			min-height: 100vh !important
			margin: 0


.post
	.appeals
		width: 100%
		flex: auto
		display: flex
		align-items: center
		background-color: transparentize(white, 0.25)

	.appeals-container
		position: relative
		width: 100%
		max-width: 1200px

		.appeal-body
			p
				display: flex

			img
				width: 100% !important
				height: auto !important

			ul
				display: flex
				justify-content: space-between
				margin-top: 2rem

				li
					position: relative
					display: flex
					flex: 1
					max-width: calc(33.33% - 1.5vw)
					min-height: 90px
					padding: 1.5rem
					border: $border-width solid $brand-color
					border-radius: $border-radius

					a
						display: block
						float: left

					img
						background: none
						height: auto !important

					> span, img
						max-width: 5rem
						max-height: 5rem
						margin-right: 1rem !important

					p
						margin-bottom: auto

		.appeal-footer
			display: flex
			align-items: self-end
			.appeal-reg-info
				> div
					margin-bottom: .75rem

				> b
					font-style: italic

			.button
				max-width: 300px
				max-height: 75px
				margin-left: 1em

		+media-breakpoint-down(md)
			.appeal-body
				h2, h3, p
					word-break: break-word

				ul
					flex-direction: column

					li
						max-width: 100%
						margin-top: 2vh

						> span, img
							max-width: 35px
							max-height: 35px
			.appeal-footer
				flex-direction: column

				.button
					align-items: center
					margin-top: 4vh
					margin-left: 0

		+media-breakpoint-down(sm)
			.appeal-body
				h2
					font-size: 1.8rem


	.events-forum
		.event-host
			display: flex
			flex-direction: column
			margin-bottom: 4vh
			.meta
				max-width: 450px
				margin-right: 4vw
				.host-title
					color: $brand-color
				.host-excerpt
					margin-bottom: 2rem
					color: $text-color
				span
					color: $title-color
					font-size: 1.4rem

			.avatar
				max-width: $event-avatar-size

			align-items: center
			+media-breakpoint-up(md)
				flex-direction: unset


		.event-content
			position: relative
			display: block
			width: 100%
			> div
				font-size: 1rem !important
				max-width: 900px
				line-height: 1.3
				background-color: transparent !important

			ul
				margin: revert
				padding: revert
				list-style-type: initial
				text-align: left

			img
				width: 100% !important
				max-width: $event-avatar-size
				height: auto !important
				margin: 1rem auto

			a
				color: $brand-color
				text-decoration: none


	.reviews-forum
		.title
			color: $brand-color
			font-weight: bold
			text-align: center

		.review
			width: 100%
			max-width: 800px
			+push--auto
			//background-color: transparentize(white, 0.8)
			.review-owner
				margin-top: 1rem
				font-weight: bold



	.middle-section
		position: relative
		margin: 0 -4vw
		background-color: transparentize(black, 0.8)

	.partners-forum
		h3
			font-weight: bold

		.partners
			.partner-name
				color: #fff
				@extend h4
				line-height: 0.8


		.partner-block a
			display: table
			color: white
			text-decoration: none
			user-select: none

	.contacts-forum
		text-align: right
		font-weight: 500
		+media-breakpoint-down(sm)
			margin-top: 3rem

		h4
			font-weight: 700

		.get-in-touch
			flex-grow: 1
			width: max-content
			max-width: 100%
			padding: 1rem 1.5rem
			margin-left: auto
			color: #000
			background-color: transparentize(white, 0.3)
			border-radius: $border-radius

			p
				margin: 0

			a
				color: $brand-color

		div:last-child
			color: #fff
			margin-top: 2rem

		+media-breakpoint-up(sm)
			max-width: 50%
		+media-breakpoint-up(lg)
			max-width: 40%

		+media-breakpoint-down(sm)
			flex: 100% !important
			.get-in-touch
				margin-right: 0
				margin-top: 1em


footer
	.container
		padding-top: 4vh
		padding-bottom: 4vh

	.partner-block
		display: flex
		//flex: 1
		//max-width: 300px
		line-height: 0
		margin: 0 2vw
		overflow: hidden

		.partner-logo
			span
				> span, img
					width: auto !important
					max-height: 3rem !important
					height: 100% !important
					min-width: unset !important
					min-height: unset !important

	.partners
		&.partner-logos
			display: flex
			justify-content: center

		.partner-logo
			position: relative
			height: 100%

.copyright
	border-top: 1px solid $bg-color
	text-align: center
	padding: 3px

	a
		color: $brand-color

.registration
	.meta-block, .questionnaire-block
		border: 1px solid $border-color
		padding: 1em

	.questionnaire-block
		margin-top: 2em

.calendar-button
	position: fixed
	top: 0
	left: 0
	width: 100%
	padding: 2px
	text-align: center
	user-select: none
	color: $brand-color
	background-color: #fff
	z-index: 1000
	cursor: pointer

	span
		margin-left: 0.5rem


.events-calendar-modal
	.modal-header
		position: relative
		//border-bottom: $border-width solid white
		box-shadow: 0 0 2vh 3vh lighten($bg-color, 30%)
		z-index: 1

	.modal-body
		padding-top: 4vh

.forum-group
	.forum:not(:last-child)
		margin-bottom: 4vh

		&.selected
			.forum-body
				border-color: $brand-color

	.forum-date
		width: 100%
		display: table-cell
		padding: 2px 7px

	.forum-title
		.title
			font-weight: bold

		.subtitle
			opacity: 0.7

	.forum-body
		display: block
		padding: 1rem
		color: inherit
		text-decoration: none
		border: $border-width solid transparent
		border-top-color: white
		border-bottom-left-radius: $border-radius
		border-bottom-right-radius: $border-radius
		border-top-right-radius: $border-radius
		transition: all 200ms ease
		a
			display: block
			color: $brand-color
			text-transform: uppercase
			text-decoration: none
		&:hover
			border-color: $brand-color
			background-color: #fff !important

	.forum-events
		margin-top: 0.5rem
		font-size: 0.8em

		.host-name
			font-weight: bold
			text-transform: uppercase

	&.next
		.title
			margin-bottom: calc(1rem + 2vh)
			color: $brand-color

		.forum-body
			background-color: transparentize(white, 0)

		.forum-date
			color: white
			background-color: $brand-color
			border: $border-width solid $brand-color
			span
				position: absolute
				right: 1.5rem
				color: #8c52ff
				background: transparent

	&.prev
		.forum-date
			border: $border-width solid $border-color
			background-color: $border-color

		.forum-body
			border: $border-width solid $border-color

	.next-forums-accordion
		margin-bottom: 4vh

	.prev-forums-accordion
		--bs-accordion-body-padding-x: 0
		--bs-accordion-btn-padding-x: 0
		--bs-accordion-btn-padding-y: 0
		--bs-accordion-border-width: 0
		--bs-accordion-active-bg: inherit
		--bs-accordion-bg: transparent
		margin-top: 3rem

		.accordion-header
			width: max-content
			margin-bottom: 1rem
			margin-left: auto


		.accordion-body
			margin-right: 0

		.accordion-button
			text-align: right
			.title
				display: inline-block
				margin-right: 0.5rem
				color: #000
				font-weight: bold
				text-decoration: underline

			&::after
				margin: 0
				background-color: white
