@import vars.module
@import utils.module
@import mixins
@import fonts

*
	margin: 0

*:focus
	box-shadow: none !important
	border-color: $brand-color !important

@supports (font: -apple-system-body) and (-webkit-appearance: none)
	img[loading="lazy"]
		clip-path: inset(0.6px)

html
	font-size: 16px
	+media-breakpoint-up(md)
		font-size: 18px
	background-color: $secondary-bg-color

\:root
	--bs-font-sans-serif: #{$font-family-sans-serif}
	--bs-body-color: #{$text-color}
	--bs-body-bg: #{$secondary-bg-color}
	--bs-link-color: #{$brand-color}

body
	min-height: 100vh

#__next
	display: flex
	flex-direction: column
	min-height: 100vh
	height: 100%

main
	flex: 1

	section
		flex: 100%

img:not([decoding=async])
	background: lightgrey
	background-origin: border-box
	background-size: contain

a
	color: $brand-color
	user-select: none
	cursor: pointer
	&:hover
		color: darken($brand-color, 10%)

pre
	white-space: pre-wrap

ul
	margin: 0
	padding: 0
	list-style-type: none

h1
	color: $title-color
	font-size: calc( 1.6em + 0.5vw )
	letter-spacing: 1px
	line-height: 1.05
	text-transform: uppercase

h2
	margin-bottom: 1.6rem
	color: $title-color
	font-size: 1.6rem
	line-height: 1
	font-weight: 500

h3
	margin-bottom: 1.3rem
	color: $title-color
	font-size: 1.4rem
	line-height: 1.2
	font-weight: 700
	//letter-spacing: 1px
	//text-transform: uppercase

h4
	font-size: 1.2rem
	// color: $brand-color
	// text-transform: uppercase
	font-weight: 700

.title
	font-weight: bold

article
	> .title
		margin-bottom: 1.5rem
		text-align: center

	a
		text-decoration: none

.container
	position: relative
	width: 100%
	max-width: 1200px
	+push--auto

.post-header
	display: inline-flex
	flex-wrap: wrap
	height: auto
	min-height: 100vh
	user-select: none

	+media-breakpoint-down(sm)
		align-items: center

	+media-breakpoint-down(md)
		flex-direction: column

	.calendar-button
		position: sticky
		top: 0
		width: 100%
		padding: 2px
		align-self: baseline
		text-align: center
		user-select: none
		color: $brand-color
		background-color: #fff
		z-index: 1000
		cursor: pointer

		span
			margin-left: 0.5rem

	.logo-svg
		width: 4.8rem
		height: 4.8rem
		fill: $brand-color
		+media-breakpoint-down(sm)
			width: 4.4rem
			height: 4.4rem


	.brand-header
		flex: 0 1 55%

		padding-left: 4vw

	.brand-title
		flex: 0 1 40%
		+media-breakpoint-down(sm)
			flex: 1 1 0
			font-size: 0.8rem

		.subtitle
			font-size: 1.4em
			line-height: 1
			text-transform: lowercase

			p
				margin-bottom: 0


	.header-info
		flex: 1
		text-align: right
		justify-content: space-between
		+media-breakpoint-down(sm)
			flex: unset
			align-items: center

	.date-block
		font-size: 1.8rem
		text-transform: uppercase
		line-height: 1.2

		time
			color: $brand-color

		.at-time
			font-size: 0.5em
			font-weight: normal


	@media (orientation: landscape)
		flex-direction: row
		.brand-title
			font-size: 0.8rem

	.countdown-block
		gap: 0.9em
		+media-breakpoint-down(sm)
			justify-content: center
			text-align: center

		.countdown-title
			margin-bottom: -0.5rem
			color: white
			flex: 100%
			font-weight: normal

		.two-digit
			position: relative
			width: 1.8em
			height: 1.8em
			padding: 0
			font-size: 1.4em
			font-weight: 500
			color: $brand-color
			border-radius: $border-radius
			border-color: $brand-color
			background: white
			user-select: none
			&.with-divider::after
				position: absolute
				content: ":"
				top: 40%
				left: 100%
				width: 0.5em
				font-size: 1.4em
				line-height: 0
				@extend .centered

		.number-text
			font-size: 0.6em
			color: $brand-color
			font-weight: bold
			text-transform: uppercase

	.appeals-section
		width: 100%
		flex: auto
		//display: flex
		//align-items: center

		.appeal-content
			ul
				display: inline-flex
				justify-content: space-between
				gap: 1rem
				+media-breakpoint-down(md)
					flex-direction: column

				li
					position: relative
					display: flex
					align-items: center
					flex-direction: column
					gap: 0.5em
					flex: 1
					min-height: 100px
					font-weight: bold
					@extend .frame
					@extend .shadow4

					> *
						margin-bottom: auto
						display: inline-flex
						align-items: inherit
						flex-direction: column
						gap: 0.5em

					a
						display: block
						float: left

					> span, img
						width: 20% !important
						height: auto !important
						max-width: 60px
						+push--auto()
						margin-bottom: 0
						text-align: center
						+media-breakpoint-down(sm)
							max-width: 50px

					img
						background: none

				+media-breakpoint-down(sm)
					li, li > *
						gap: 1rem
						flex-direction: row


				& ~ p img
					margin-top: 1rem

		.registration-block
			position: relative
			justify-content: center

			.overlay
				content: ''
				+push--absolute()

			.appeal-reg-info
				flex: 1
				> div
					margin-bottom: .75rem

				> b
					font-style: italic

			.button
				max-width: 300px
				max-height: 100px

		+media-breakpoint-down(md)
			.appeal-body
				h2, h3, p
					word-break: break-word

				ul
					flex-direction: column

					li
						max-width: 100%
						margin-top: 1rem

			.registration-block
				.container
					flex-direction: column

		+media-breakpoint-down(sm)
			.appeal-body
				h2
					font-size: 1.8rem


.events-section
	position: relative

	.event
		display: inline-flex
		flex-wrap: wrap
		gap: 3rem
		width: 100%

	.event-description
		flex: 1
		justify-content: center
		max-width: 850px

		.event-title
			flex: 100%


		.event-content
			position: relative
			display: block
			width: 100%

			> div
				font-size: 1rem !important
				line-height: 1.2
				background-color: transparent !important

			ul
				margin: revert
				padding: revert
				list-style-type: initial
				text-align: left

			img
				width: 100% !important
				max-width: $event-avatar-size
				height: auto !important
				margin: 1rem auto

			a
				color: $brand-color
				text-decoration: none

	.event-host
		flex: 1

		.host-avatar
			display: inline-flex
			align-items: center

			figure
				max-width: $event-avatar-size
				max-height: $event-avatar-size

		.host-title
			flex: 100%
			@extend h2
			> *:first-child
				@extend .highlight
				font-weight: bold

		.host-excerpt
			color: $text-color

	.event-time
		margin-top: 1rem
		padding: 3px 7px
		font-weight: bold
		width: max-content
		border-radius: $border-radius

	+media-breakpoint-down(sm)
		.event-host, .host-avatar
			flex-direction: column
			align-items: center

		.event-host .host-avatar figure
			max-width: $event-avatar-size-sm
			max-height: $event-avatar-size-sm

		.host-title, .host-excerpt
			text-align: center


.extra-section
	.container
		justify-content: space-between
	.partners-block, .partners-list
		+media-breakpoint-up(sm)
			+push--auto
		+media-breakpoint-up(xxl)
			padding: 0 !important

	.partners-block
		flex: auto
		+media-breakpoint-up(sm)
			flex: 1

		.partner
			.partner-name
				@extend h4

			.partner-logo
				max-width: 250px

			a
				display: table
				text-decoration: none


	.contacts-block
		width: 100%
		text-align: right
		font-weight: 500
		flex: 100%
		+media-breakpoint-up(sm)
			max-width: 55%
			flex: auto
		+media-breakpoint-up(md)
			max-width: 50%
		+media-breakpoint-up(xl)
			max-width: 40%

		h4
			font-weight: 700

		.get-in-touch
			flex-grow: 1
			width: 100%
			margin-left: auto
			margin-bottom: 2rem

			p
				margin: 0

			a
				color: $brand-color

		.location
			.title
				margin-bottom: 0
				color: $brand-color


.reviews-section
	.title
		text-align: center

	.review
		width: 100%
		max-width: 800px
		margin: auto
		.review-author
			margin-top: 1.5rem
			font-weight: bold


footer
	.partners-list
		display: flex
		justify-content: center
		align-items: center
		gap: 4vw
		width: 100%
		line-height: 0
		overflow: hidden
		.partner
			flex: 1 1 auto
			max-width: 120px
		.partner-logo
			position: relative
			height: 40px
			+media-breakpoint-down(sm)
				height: 25px

.registration
	.meta-block, .questionnaire-block
		border: 1px solid $border-color
		padding: 1em

	.questionnaire-block
		margin-top: 2em


.forum-group
	.forum:not(:last-child)
		margin-bottom: 4vh

		&.selected
			.forum-body
				border-color: $brand-color

	.forum-date
		width: 100%
		display: table-cell
		padding: 2px 7px

	.forum-title
		.title
			font-weight: bold

		.subtitle
			color: $text-color

	.forum-time
		margin-top: 0.5rem
		text-align: right

	.forum-body
		display: block
		padding: 1rem
		color: inherit
		text-decoration: none
		border: $border-width solid transparent
		border-top-color: white
		border-bottom-left-radius: $border-radius
		border-bottom-right-radius: $border-radius
		border-top-right-radius: $border-radius
		transition: all 200ms ease

		a
			display: block
			color: $brand-color
			text-transform: uppercase
			text-decoration: none

		&:hover
			border-color: $brand-color
			background-color: #fff !important

	.forum-events
		margin-top: calc(0.8rem + 2vh)

		.host-name
			font-weight: bold
			text-transform: uppercase

	&.next
		.forum-title
			color: $brand-color

		.title
			margin-bottom: 0

		.forum-body
			background-color: transparentize(white, 0)

		.forum-date
			color: white
			background-color: $brand-color
			border: $border-width solid $brand-color

			span
				position: absolute
				right: 1.5rem
				color: #8c52ff
				background: transparent

	&.prev
		.forum-date
			border: $border-width solid $border-color
			background-color: $border-color

		.forum-body
			border: $border-width solid $border-color

		.forum-time
			display: none

	.next-forums-accordion
		margin-bottom: 4vh

	.prev-forums-accordion
		--bs-accordion-body-padding-x: 0
		--bs-accordion-btn-padding-x: 0
		--bs-accordion-btn-padding-y: 0
		--bs-accordion-border-width: 0
		--bs-accordion-active-bg: inherit
		--bs-accordion-bg: transparent
		margin-top: 3rem

		.accordion-header
			width: max-content
			margin-bottom: 1rem
			margin-left: auto


		.accordion-body
			margin-right: 0

		.accordion-button
			text-align: right

			.title
				display: inline-block
				margin-right: 0.5rem
				color: #000
				font-weight: bold
				text-decoration: underline

			&::after
				margin: 0
				background-color: white


.copyright
	border-top: 1px solid $primary-bg-color
	text-align: center
	padding: 3px
