@use "sass:math"

@import vars.module
@import mixins

.container
  position: relative
  width: 100%
  +media-breakpoint-up(xxl)
    max-width: 1400px

.mx-auto
  +push--auto

.my-2vh
  margin-top: 2vh !important
  margin-bottom: 2vh !important

.px-4vw
  padding-left: 4vw !important
  padding-right: 4vw !important

.py-4vh
  padding-top: 4vh !important
  padding-bottom: 4vh !important

.p-4
  @extend .px-4vw
  @extend .py-4vh


.px-2vw
  padding-left: 2vw !important
  padding-right: 2vw !important

.py-2vh
  padding-top: 2vh !important
  padding-bottom: 2vh !important

.p-2
  @extend .px-2vw
  @extend .py-2vh


.bg-white
  background-color: #fff !important

.flex-wrap
  display: flex
  flex-wrap: wrap
  &.end
    justify-content: flex-end
    text-align: right
  &.center
    justify-content: center
    text-align: center
  &.space-between
    justify-content: space-between

.gap
  gap: 1em

.cell-4
  flex: 1 1 33.3%
.col-12
  flex: 100%
.cell-6
  flex: 1 0 50%
.cell-auto
  flex: auto

.flex-column
  display: flex
  flex-direction: column
  &.end
    align-items: flex-end
  &.center
    align-items: center

.inline
  display: inline-block

.max-content
  width: max-content

.centered
  display: flex
  justify-content: center
  align-items: center

.rounded
  border-radius: 50rem

.btn
  @extend  .centered
  padding: 0.75rem 1.25rem
  box-sizing: content-box
  border: 2px solid $brand-color
  line-height: 1
  color: $brand-color
  @extend  .rounded
  user-select: none
  transition: all .18s ease

  &-primary
    background-color: $brand-color
    color: white
  &-secondary
    background-color: white
  &:hover
    @extend .shadow4

.btn-close
  position: relative
  display: block
  width: $icon-size
  height: $icon-size
  max-width: 25px
  transition: all 150ms ease
  opacity: .7
  user-select: none
  box-sizing: content-box
  border: none
  cursor: pointer
  background-color: transparent
  &:hover
    transform: rotate(90deg)
    opacity: 1
  &::before,
  &::after
    content: ''
    position: absolute
    width: 100%
    height: $border-width
    left: 0
    top: 50%
    margin-top: math.div(-$border-width, 2)
    border-radius: $border-radius
    background-color: black
  &::before
    transform: rotate(45deg)
  &::after
    transform: rotate(-45deg)

.vertical
  flex-direction: column

.shadow3
  box-shadow: 0 10px 20px 0 rgba(0,0,0,.21)

.shadow4
  box-shadow: 0 10px 15px -3px rgba(0,0,0,.07),0 4px 6px -2px rgba(0,0,0,.05)

.link
  user-select: none
  cursor: pointer
  color: $brand-color

.highlight, strong
  color: $brand-color !important

.status-error
    color: darkred

.button
  @extend .centered
  padding: 1.25rem
  width: max-content
  color: $button-text-color
  background-color: $button-bg-color
  text-align: center
  border-radius: $border-radius
  line-height: 1
  text-transform: uppercase
  font-weight: bold
  @extend .shadow3
  cursor: pointer

.large-text
  font-size: 1.2em

.fade
  transition: opacity 0.18s linear

.modal
  position: fixed
  top: 0
  left: 0
  z-index: 1055
  display: none
  width: 100%
  height: 100%
  overflow-x: hidden
  overflow-y: auto
  outline: 0
  &.fade
    .modal-dialog
      transition: transform 0.2s ease-out
      transform: scale(0.85)
  &.show
    .modal-dialog
      transform: none

.modal-backdrop
  position: fixed
  width: 100vw
  height: 100vh
  top: 0
  left: 0
  background-color: #000
  z-index: 1050
  &.fade
    opacity: 0
  &.show
    opacity: 0.3

.modal-dialog
  position: relative
  width: auto
  max-width: 100%
  margin: auto
  pointer-events: none
  +media-breakpoint-up(sm)
    max-width: 90%
    margin: 1.75rem auto

.modal-content
  position: relative
  display: flex
  flex-direction: column
  width: 100%
  background-color: $modal-dialog-bg
  background-clip: padding-box
  border: $border-width solid $brand-color
  border-radius: $border-radius
  pointer-events: auto
  outline: 0
  @extend .shadow3


.modal-header, .modal-footer
  +media-breakpoint-down(md)
    padding: 2vh 1.5rem

.modal-body, .modal-footer
  position: relative
  flex: 1 1 auto
  padding: 1.5rem

.modal-header
  display: flex
  flex-shrink: 0
  align-items: center
  justify-content: space-between
  padding: 1.5rem
  //border-bottom: 1px solid #dee2e6
  //background: radial-gradient(0deg, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%)

  border-top-left-radius: $border-radius - 1px
  border-top-right-radius: $border-radius - 1px
  .modal-title
    margin-bottom: 0
    line-height: 1.5
    color: $brand-color
    font-weight: 500
    font-size: 1.4rem


.modal-dialog-centered
  display: flex
  align-items: center
  min-height: calc(100% - 1rem)
  +media-breakpoint-up(sm)
    min-height: calc(100% - 3.5rem)

.modal-dialog-scrollable
  height: calc(100% - 1rem)
  .modal-content
    max-height: 100%
    overflow: hidden
  .modal-body
    overflow-y: auto
  +media-breakpoint-up(sm)
    height: calc(100% - 3.5rem)


.form-control:focus
  border-color: $brand-color
  box-shadow: none


.form-group >label
  display: block
  font-weight: bold

input~label
  color: $brand-color

.form-check-input
  width: 1.2rem
  height: 1.2rem

.alert-container
  .status
    font-weight: bold
    &-0
      color: darkcyan
    &-1
      color: orange
    &-2
      color: #178038

.was-validated
  .form-control
    &:valid, &.is-valid
      padding-right: initial
      background-image: none
  .form-check-input
    &:valid, &.is-valid
      &~ .form-check-label
        color: $brand-color


